@model IEnumerable<ReactDemo.Models.CommentModel>
@{
	Layout = null;
}
<html>
<head>
	<title>Hello React</title>
</head>
<body>
	const root = ReactDOM.createRoot(document.getElementById('root'));
	root.render(
	<h1>Hello, world!</h1>);
	@Html.React("CommentBox", new
	{
		initialData = Model,
		url = Url.Action("Comments"),
		submitUrl = Url.Action("AddComment"),
		pollInterval = 2000,
	})
	
	<script src="@Url.Content("~/js/tutorial.jsx")"></script>
	@Html.ReactInitJavaScript()
</body>
</html>
